@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 16px;
	color: $black;
}

body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
	word-wrap: break-word;
	background: linear-gradient(180deg, #F1FFFE 0%, rgba(194, 253, 232, 0.73) 47.92%, rgba(248, 255, 251, 0.94) 100%);
}

.container {
	@include min-max(320px, 100%, 0);
}

.wrap {
	@include min-max(320px, 1160px, 20px);
}