.video__wrap {
  margin-top: px-to-rem(35px);
  margin-bottom: px-to-rem(55px);
  max-width: 823px;
}

.video__title {
  font-weight: 700;
  font-size: px-to-rem(18px);
  line-height: px-to-rem(24px);
  text-align: center;
  text-transform: uppercase;
  margin: px-to-rem(20px) 0 px-to-rem(35px);

  &::before {
    width: 104px;
    height: 2px;
    display: block;
    margin: 0 auto px-to-rem(15px);
    content: "";
    background-color: #EAA098;
  }

}

.video__block {
  @include adaptive-video();
  margin: 0 auto;
}

@media (min-width: 768px) {

  .video__wrap {
    margin-top: px-to-rem(75px);
    margin-bottom: px-to-rem(75px);
    padding-left: px-to-rem(40px);
    padding-right: px-to-rem(40px);
  }

  .video__title {
    font-size: px-to-rem(22px);
    line-height: px-to-rem(38px);
  }

}

@media (min-width: 980px) {

  .video__wrap {
    padding-left: px-to-rem(20px);
    padding-right: px-to-rem(20px);
  }

}